<h2 class="title is-2">Get Tax Rates by Zip Code</h2>

<pre>
ZipTax = New ziptax( application.apiKey );
ratesRequest = ZipTax.getTaxRatesByLocation(
    zip = "93302"
);
writeDump(ratesRequest);
</pre>

<cfscript>
ZipTax = New ziptax( application.apiKey );
ratesRequest = ZipTax.getTaxRatesByLocation(
    zip = "93302"
);
writeDump(ratesRequest);
</cfscript>
